<div class="container start-splash-container row">
  <div class="createtasks">Parents! Create a New Task for your kids!</div>
</div>

<div class="row">
  <div class="col s12">
    <form action="/task" method="POST">
      <input type="text" class="main-font" name="task_name" placeholder="A New Task">
      <button type="submit" class="addTaskButton">Add The Task</button>
    </form>
  </div>
</div>

<main>
  <div class="container">
    <div class="row">
      <div class="col s12 m5 l5 tasklist-todo">
        <ul id="todo_list">
          <div class="taskstocomplete">Getchya child to complete this shit</div>
        {{#each todos}}
          <div id="container-button">
          <li>{{task}}
          <form method="post" action="/task-delete/{{id}}">
          <button type="submit" class="buttons">Delete</button></form></li>
          </div>
        {{/each}}
        </ul>
      </div>
      <div class="col s0 m2 l2"></div>
      <div class="col s12 m5 l5 tasklist-completed">
        <ul id="completed_list">
          <div class="taskheaders">COMPLETED</div>
        {{#each completed}}
          <li><form method="post" action="/task-undo/{{id}}"> {{task}}<br>
          <button type="submit" class="buttons"> Whoops</button></form></li>
        {{/each}}
        </ul>
      </div>
    </div>
  </div>
</main>

<div class="container start-splash-container row">
  <div class="createtasks">Parents! Create a New Reward for your kids!</div>
</div>

<div class="row">
  <div class="col s12">
    <form action="/item" method="POST">
      <input type="text" class="main-font" name="item_name" placeholder="A New Reward">
      <button type="submit" class="addTaskButton">Add The Reward</button>
    </form>
  </div>
</div>

<main>
  <div class="container">
    <div class="row">
      <div class="col s12 m5 l5 tasklist-todo">
        <ul id="todo_list">
          <div class="rewardstoclaim">Rewards</div>
        {{#each rewards}}
          <li>{{item}}
          <form method="post" action="/item-delete/{{id}}">
          <button type="submit" class="buttons">Delete</button></form></li>
        {{/each}}
        </ul>
      </div>
      <div class="col s12 m5 l5 tasklist-completed">
        <ul id="complete_list">
        {{#each chosen}}
          <li>{{item}}
            <form method="post" action="/">
            <button type="submit" class="buttons">Put it back</button></form>
          </li>
        {{/each}}
        </ul>
      </div>
    </div>

  </div>
</main>

<script>
 $(() => {
   $('.delete-form').on("submit", function(e) {
    e.preventDefault();

    let id = $(this).data('id');

    $.post('/task-delete/' + id, function(response) {
      window.location.reload();
    });

  });
 })
</script>
