<main class="no-padding no-pad-top taskmain">

  <div class="container start-splash-container row">
    <div class="topheader-dash red lighten-4">Kids! Show your parents what you finished!</div>


    <div class="row">
      <div class="col s12 m5 l5 tasklist-todo">
        <ul id="todo_list">
          <div class="taskheaders">TO DO</div>
        {{#each todos}}
          <div id="container-button">
          <li><form method="post" action="/task-complete/{{id}}">{{task}}
          <br>
          <button type="submit" class="buttons">Complete</button></form>
          {{!-- <form method="post" action="/task-delete/{{id}}">
          <button type="submit" class="buttons">Delete</button></form></li> --}}
          </div>
        {{/each}}
        </ul>
      </div>
      <div class="col s0 m2 l2"></div>
      <div class="col s12 m5 l5 tasklist-completed">
        <ul id="completed_list">
          <div class="taskheaders">COMPLETED</div>
        {{#each completed}}
          <li><form method="post" action="/task-undo/{{id}}"> {{task}}<br>
          <button type="submit" class="buttons"> Whoops</button></form></li>
        {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <br>
  <div class="container start-splash-container row">
    <div class="col s12 center-align">
      <h5 class="createtasks red lighten-4">Complete 6 tasks and choose from these great prizes!</h5>
        <div class="row">
          <div class="col m4 s12 prizes">
            Bowl of Ice Cream
          </div>
          <div class="col m4 s12 prizes">
            One hour of TV or video games
          </div>
          <div class="col m4 s12 prizes">
            Ride bike for an hour
          </div>
        </div>
        <div class="row">
          <div class="col m4 s12 prizes">
            Go to the playground
          </div>
          <div class="col m4 s12 prizes">
            Visit the Science Museum
          </div>
          <div class="col m4 s12 prizes">
            Sit outside and play with sticks
          </div>
        </div>
    </div>
  </div>
    
</main>

<script type="text/javascript" src="assets/js/materialize.min.js"></script>
  <script>
    $(document).ready(function() {
        $(".sidenav").sidenav();
    });
  </script>
